<div class='loginContainer'>
  <div class="loginBox">
    
    <p class="titleText">Login</p>
    
    <%= form_for @user, url: { action: "create", controller: "session" } do |f| %>
      <p>
        <%= f.text_field :username, :class => 'loginInput', :placeholder => "Username..." %>
      </p>
      <p>
        <%= f.password_field :password, :class => 'loginInput', :placeholder => "Password..."  %>
      </p>
      <p>
        <%= f.submit 'Login', :id => 'logInButton' %>
      </p>
    <% end %>

    <button id="signUpButton">Sign Up</button>

  </div>

  <div class="signUpBox">
    <p class="titleText">Sign Up</p>

    <%= form_for @user do |f| %>
      <p>
        <%= f.text_field :username, :class => 'signUpInput', :placeholder => "Username..." %>
      </p>
      <p>
        <%= f.password_field :password, :class => 'signUpInput', :placeholder => "Password..." %>
      </p>
      <p>
        <%= f.password_field :password_confirmation, :class => 'signUpInput', :placeholder => "Confirm Password..." %>
      </p>
      <p>
        <%= f.text_field :email, :class => 'signUpInput', :placeholder => "E-mail..." %>
      </p>
        <%= f.submit 'Submit', :id => 'submitButton' %>
    <% end %>

    <button id="closeWindowButton">Close Window</button>
  </div>

</div>

<!-- <div class="overlay"></div> -->
